/*Pagina2*/
*, *::after, *::before {
  box-sizing: border-box;  
}

body{
	font-family: Patua One, sans-serif;
	width: 100%;
	margin: 0;
}

main{
	width: 100%;
}

/*Header overige*/

header{
	background-color: white;
	width: 100%;
	position: sticky;
	border-bottom: 1px solid lightgrey;
	top: 0;
}

a.link-header{
	display: block;
	padding:1.2em 0.5em 1em 0.5em;
	text-decoration: none;
	color: black;
	outline: none;
} 

a.link-header:hover{
	opacity: .5;
}

a.link-header:focus{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	border-radius: 0.3em;
}

li{
	list-style-type: none;
}

section li:before{
	content: "\2714";
}

form{
	margin:1.2em 1em 1em 1em;
}

form:hover{
	opacity: .5;
}

form:focus{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	border-radius: 0.3em;
}

/*mobiel nav bar in de header*/

#link-logo{
	float: left;
	display: block;
	padding: 0.9em 0.7em 1.2em 0.9em;
	outline: none;
}

#link-logo:focus{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	border-radius: 0.3em;
}

#nav-logo{
	width: 4em;
	height: auto;
	padding: 2px;
}

nav{
	display: flex;
	padding-top: 0.5em;
	background-color: white;
}

header nav button{
	position: absolute;
	left:1;
	right: 1.5em;
	padding-top: 1em;
	background-color: white;
	border: none;
	outline: none;
}

header nav button:focus{
	box-shadow: 5px 5px 10px rgba(0,0,0,.5);
	border-radius: 0.3em;
}

header nav button img{
	width: 2.5em;
	height: auto;
	background-color: white;
	border: none;
}


/*Humburger icon*/
body header ul{
	position: absolute;
	width: 375px;
	top: -25em;
	background-color: white;
	display: ;
	border-top: 1px solid grey;
	padding: 0;
	transition: 1s;
	margin: 0;
	z-index: -1;
}

body header ul.open{
	display: block;
	top: 4.5em;
}

header ul li a{
	display: block;
	padding:1.5em 0.5em 1.5em 1em;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid grey;
}

/*desktop nav bar in de header*/

@media(min-width: 980px){
	header{
		position: sticky;
		display: flex;
		padding: 1em;
		font-size: 1.1em;
	}

	header nav{
		width: 100%;
	}

	header nav a:nth-of-type(2){
		position: absolute;
		right: 6em;
		font-size: 1.5em;
		padding: 0.6em 0em 1em 0em;
	}

	header nav form{
		position: absolute;
		right: 1em;
		font-size: 1.5em;
		padding: 0.6em 0em 1em 0em;
		margin: 0;
	}

	header ul#header-ul{
		position: absolute;
		left: 7em;
		right: 0;
		display: flex;
		border: none;
		margin: 0em 30em 0em 0em;
		padding-top: 0.5em;

	}

	header ul li.niet-in-desktop{
		display: none;
	}

	header ul li a{
		border: none;
	}

	header nav button{
		display: none;
	}

	body header ul{
		display: block;
	}
}



/*main*/

/*section1*/
section#pagina2-S1{
	background-color: rgba(92,12,111,1);
	color: white;
	display: flex;
	flex-direction: column;
	padding-bottom: 3em;
}

section#pagina2-S1 p:first-of-type{
	margin: 0;
	padding: 1.1em;

}

section#pagina2-S1 h1{
	margin: 0;
	justify-content: center;
	align-items: flex-start;
	padding: 0.7em 2em 0em 2em;
	font-size: 2.3em;
}

section#pagina2-S1 h1 span.typing{
	position: relative;
	
}

section#pagina2-S1 h1 span.typing::after{
	content: "";
	position: absolute;
	right: -0.2em;
	height: 1.25em;
	border-right: 0.1em solid white;
	animation: animation 0.5s infinite ease;
}

@keyframes animation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}


section#pagina2-S1 p:nth-of-type(2){
	margin: 0;
	justify-content: center;
	align-items: flex-end;
	padding: 1em 1em 1.5em 2.5em;
}

section#pagina2-S1 section h2{
	display: none;
}

section#pagina2-S1 section a{
	display: flex;
	margin: 0;
	color: white;
	justify-content: center;
	padding: 1.5em 0.5em 1.5em 0.5em;
	margin: 1em;
	font-size: 1.1em;
	border-radius: 0.2em;
}

section#pagina2-S1 section a:first-of-type{
	background-color: rgb(18,140,214);
	box-shadow: 0px 4px rgba(54,127,174,1);
}

section#pagina2-S1 section a:nth-of-type(2){
	background-color: rgb(198,0,106);
	box-shadow: 0px 4px rgba(155,38,98,1);
}

@media(min-width: 980px){
	section#pagina2-S1 h1{
		font-size: 2.8em;
		line-height: 0.9em;
		margin: 0;
		padding: 1em 10em 0em 10em;
		text-align: center;
	}

	section#pagina2-S1 h1 span.typing::after{
		height: 0.9em;
	}

	section#pagina2-S1 p:first-of-type{
		margin: 0;
		padding: 1em 10em 2em 10em;
	}

	section#pagina2-S1 p:nth-of-type(2){
		font-size: 1.2em;
		margin: 0;
		padding: 1em 10em 2.5em 10em;
		text-align: center;
	}

	section#pagina2-S1 section{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	section#pagina2-S1 section a{
		margin: 1em 1em 1em 1em;
		padding: 1.3em 3.7em 1.3em 3.7em; 
	}
}


/*section2*/

section#pagina2-S2{
	padding: 1.5em 0.7em 1.5em 0.7em;
}

section#pagina2-S2 h2{
	padding-bottom: 3em;
}

section#pagina2-S2 section h2{
	display: none;
}

section#pagina2-S2 h3{
	padding-bottom: 0.5em;
}

section#pagina2-S2 p{
	font-family: sans-serif;
	line-height: 1.6em;
	padding-bottom: 1em;
	font-size: 0.9em;
}

@media(min-width: 980px){
	section#pagina2-S2{
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	section#pagina2-S2 h2{
		font-size: 2.5em;
		padding: 0;
	}

	section#pagina2-S2 h3{
		font-size: 1.3em;
		padding: 0;
	}

	section#pagina2-S2 section{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0em 5em 0em 5em;
	}

	section#pagina2-S2 section article{
		padding: 2em;

	}
}


/*section3*/

section#pagina2-S3{
	display: flex;
	flex-direction: column;
	border: 1px solid lightgrey;
	border-radius: 0.2em;
	margin: 0.7em 0.7em 3.7em 0.7em;
}

section#pagina2-S3 h3{
	padding: 1.3em;
	justify-content: center;	
	margin: 0;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}

section#pagina2-S3 h3:nth-of-type(2){
	display: none;
}

section#pagina2-S3 a{
	color: white;
	font-size: 1.1em;
	padding: 0.8em 0em 0.8em 0em;
	justify-content: center;	
	margin: 1.2em 1.5em 1.2em 1.5em;
	text-align: center;
	background-color: rgb(198,0,106);
	box-shadow: 0px 4px rgba(155,38,98,1);
	border-radius: 0.2em;
}

@media(min-width: 980px){
	section#pagina2-S3{
	margin: 1em 18em 5.5em 18em;
	}
	section#pagina2-S3 h3:first-of-type{
		display: none;
	}
	section#pagina2-S3 h3:nth-of-type(2){
		display: block;
	}
}


/*footer*/

footer ul{
	margin: 0;
	padding: 1em;
}

footer li:before{
	content: none;
}

footer p{
	margin: 0;
	padding-bottom: 2em;
	display: flex;
	justify-content: center;
}

/*footer section1*/

footer section:first-of-type{
	background-color: rgba(21,21,21,1);
	color: white;
}

footer section:first-of-type h2{
	display: none;
}

footer section:first-of-type ul{
	padding: 1em 0em 1em 0em;
}

footer section:first-of-type ul li{
	padding: 0em 1em 0em 0.5em;
	margin-bottom: 0.7em;
	position: relative;
}

footer section:first-of-type ul button{
	display: block;
	padding: 0.5em 0.5em 0.5em 0.4em;
	margin: 0;
	border: 0;
	color: white;
	text-decoration: none;
	background-color: rgba(21,21,21,1);
	font-size: 120%;
	outline: none;
}

footer section:first-of-type ul li ul{
	display: block;
	position: absolute;
	right: -20em;
	transition: 0.5s;

}

footer section:first-of-type ul li ul.anders{
	display: block;
	position: inherit;
	right: 0em;
}

footer section:first-of-type ul li ul li{
	padding: 0.5em;
	margin: 0;
	color: grey;
}

@media(min-width: 980px){
	footer section:first-of-type ul{
	display: flex;
	justify-content: space-around;
	padding: 3em 3.5em 3em 3.5em;
}
	footer section:first-of-type ul li ul{
	display: block;
}
	footer section:first-of-type ul li button{
		font-size: 2.7em;
		padding-left: 0.1em;
	}
}


/*footer section2*/

footer section:nth-of-type(2n){
	background-color: rgba(0,0,0,1);
	color: rgba(138,138,138,1);
}

footer section:nth-of-type(2n) h2{
	display: none;
}

footer section:nth-of-type(2n) ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer section:nth-of-type(2n) li{
	padding: 0.4em;
}