/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;  
}

body{
	font-family: Patua One, sans-serif;
	width: 100%;
	margin: 0;
}

main{
	width: 100%;
}

/*Header overige*/

header{
	background-color: white;
	width: 100%;
	position: sticky;
	border: 1px solid lightgrey;
	top: 0;
}

a.link-header{
	display: block;
	padding:1.2em 0.5em 1em 0.5em;
	text-decoration: none;
	color: black;
} 

li{
	list-style-type: none;
}

section li:before{
	content: "\2714";
}

form{
	margin:1.2em 1em 1em 1em;
}

/*mobiel nav bar in de header*/

#link-logo{
	float: left;
	display: block;
	padding: 0.9em 0.7em 1.2em 0.9em;
}

#nav-logo{
	width: 4em;
	height: auto;
	padding: 2px;
}

nav{
	display: flex;
	position: relative;
	padding-top: 0.5em;
}

header nav button{
	position: absolute;
	left:1;
	right: 1.5em;
	padding-top: 1em;
	background-color: white;
	border: none;
	outline: none; 
}

header nav button img{
	width: 2.5em;
	height: auto;
	background-color: white;
	border: none;
}


/*Humburger icon*/
body header ul{
	display: none;
	border-top: 1px solid grey;
	padding: 0;
	transition: 2s;
}

body header ul.open{
	display: block;
	margin:0;
}

header ul li a{
	display: block;
	padding:1.5em 0.5em 1.5em 1em;
	text-decoration: none;
	color: black;
	border-bottom: 1px solid grey;
}

/*desktop nav bar in de header*/

@media(min-width: 980px){
	header{
		position: sticky;
		display: flex;
		padding: 1em;
		font-size: 1.1em;
	}

	header nav{
		width: 100%;
	}

	header nav a:nth-of-type(2){
		position: absolute;
		right: 14em;
	}

	header nav a:nth-of-type(3){
		position: absolute;
		right: 2em;
	}

	header nav form{
		position: absolute;
		right: 7.5em;
	}

	header ul#header-ul{
		position: absolute;
		left: 7em;
		right: 0;
		display: flex;
		border: none;
		margin: 0;
		padding-top: 0.5em;

	}

	header ul li.niet-in-desktop{
		display: none;
	}

	header ul li a{
		border: none;
	}

	header nav button{
		display: none;
	}

	body header ul{
		display: block;
	}
}

/@media(min-width: 1200px){
	header{
		padding: 0 10em 0 10em;
	}
}


/* section 1 */


 main section:first-of-type  {
	background-color: rgba(36,94,210,1);
	padding: 0em;
	color: white;
	font-size: 1.15em;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
  	grid-template-rows: 5% 20% 20% 35% 15% 5%;
  	align-items: center;

}

 main section:first-of-type h1{
	margin:1rem;
	grid-column: 2/3;
	grid-row: 2;
}

main section:first-of-type ul{
	margin:1rem;
	padding: 0px;
	grid-column: 2 / 3;
	grid-row: 3;
}

img#sim-only-img{
	margin: 1rem;
	display: inline-block;
	height: auto;
	width: 15.5em;
	align-items: center;
	grid-column-start: 2;
	grid-row-start: 4;
	justify-self:center;
}

a#section1-link{
	text-align: center;
	text-decoration: none;
	padding: 1em;
	background-color: rgba(254,215,8,1);
	color: black;
	padding: auto;
	grid-column: 2 / 3;
	grid-row-start: 5;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(192,164,11,1);
}

@media(min-width: 980px){
	main section:first-of-type  {
		display: grid;
		grid-template-columns: 12.5% 1fr 1fr 12.5%;
  		grid-template-rows: 10% 1fr 1fr 1fr 10%;
  		font-size: 1.4em;
}
	main section:first-of-type h1{
		grid-column: 2/3;
		grid-row: 2;
}

main section:first-of-type ul{
		grid-column-start: 2;
		grid-row: 3;
		margin: 1em;
}

img#sim-only-img{
		grid-column-start: 3;
		grid-row: 2 / 5;
		width: 20em;
		margin: 0;
}

a#section1-link{
		grid-column: 2 / 3;
		grid-row-start: 4;
		padding: 1em;
}
}


/* section 2 */

 main section:nth-of-type(2){
 	margin:3em 0.3em 3em 0.3em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: white;
}

main section:nth-of-type(2) h2{
	display: none;
}

a.as2{
	text-decoration: none;
	color: white;
	display: block;
	padding: 1.5em;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	margin: 0.7em;
}

main section:nth-of-type(2) a:first-of-type {
	background-color: rgba(68,158,217,1);
	box-shadow: 0px 4px rgba(54,127,174,1);
}

main section:nth-of-type(2) a:nth-of-type(2n) {
	background-color: rgba(36,94,178,1);
	box-shadow: 0px 4px rgba(29,76,142,1);
}

main section:nth-of-type(2) a:nth-of-type(3n) {
	background-color: rgba(194,47,123,1);
	box-shadow: 0px 4px rgba(155,38,98,1);
}

main section:nth-of-type(2) a:nth-of-type(4n) {
	background-color: rgba(103,41,126,1);
	box-shadow: 0px 4px rgba(82,33,101,1);
}

@media(min-width: 980px){
	main section:nth-of-type(2){
	margin:4em 6em 4em 6em;
	flex-direction: row;
	justify-content: space-around;
}
	a.as2{
		flex-basis: 30em;
}
}

@media(min-width: 1200px){
	main section:nth-of-type(2){
	flex-wrap: nowrap;
}
}

/* section 3 */

main section:nth-of-type(3) {
	background-color: rgba(254,215,8,1);
	padding: 0em;
	color: black;
	font-size: 1.15em;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
  	grid-template-rows: 5% 20% 20% 35% 15% 5%;
  	align-items: center;

}

main section:nth-of-type(3) h1{
	margin:1rem;
	grid-column: 2/3;
	grid-row: 2;
}

main section:nth-of-type(3) ul{
	margin:1rem;
	padding: 0px;
	grid-column: 2 / 3;
	grid-row: 3;
}

img#iphone11-img{
	height: auto;
	width: 250px;
	align-items: center;
	grid-column-start: 2;
	grid-row-start: 4;
	justify-self:center;
}

a#section3-link{
	text-align: center;
	text-decoration: none;
	padding: 1em;
	background-color: rgba(36,94,210,1);
	color: white;
	padding: auto;
	grid-column: 2 / 3;
	grid-row-start: 5;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(10,56,128,1);
}

@media(min-width: 980px){
	main section:nth-of-type(3)  {
		display: grid;
		grid-template-columns: 12.5% 1fr 1fr 12.5%;
  		grid-template-rows: 10% 1fr 1fr 1fr 10%;
  		font-size: 1.4em;
}
	main section:nth-of-type(3) h1{
		grid-column: 3/4;
		grid-row: 2;
}

	main section:nth-of-type(3) ul{
		grid-column-start: 3;
		grid-row: 3;
		margin: 1em;
}

	img#iphone11-img{
		grid-column-start: 2;
		grid-row: 2 / 5;
		width: 20em;
		margin: 0;
}

	a#section3-link{
		grid-column: 3 / 4;
		grid-row-start: 4;
		padding: 1em;
}
}



/* section 4 */

main section:nth-of-type(4) {
	background-color: white;
	padding: 0em;
	color: black;
	font-size: 1.15em;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
  	grid-template-rows: 5% 20% 20% 35% 15% 5%;
  	align-items: center;

}

main section:nth-of-type(4) h1{
	margin:1rem;
	grid-column: 2/3;
	grid-row: 2;
}

main section:nth-of-type(4) ul{
	margin:1rem;
	padding: 0px;
	grid-column: 2 / 3;
	grid-row: 3;
}

img#galaxy-s20-img{
	height: auto;
	width: 250px;
	align-items: center;
	grid-column-start: 2;
	grid-row-start: 4;
	justify-self:center;
}

a#section4-link{
	text-align: center;
	text-decoration: none;
	padding: 1em;
	background-color: rgba(36,94,210,1);
	color: white;
	padding: auto;
	grid-column: 2 / 3;
	grid-row-start: 5;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(10,56,128,1);
}

@media(min-width: 980px){
	main section:nth-of-type(4)  {
		display: grid;
		grid-template-columns: 12.5% 1fr 1fr 12.5%;
  		grid-template-rows: 10% 1fr 1fr 1fr 10%;
  		font-size: 1.4em;
}
	main section:nth-of-type(4) h1{
		grid-column: 2/3;
		grid-row: 2;
}

	main section:nth-of-type(4) ul{
		grid-column-start: 2;
		grid-row: 3;
		margin: 1em;
}

	img#galaxy-s20-img{
		grid-column-start: 3;
		grid-row: 2 / 5;
		width: 20em;
		margin: 0;
}

	a#section4-link{
		grid-column: 2 / 3;
		grid-row-start: 4;
		padding: 1em;
}
}

/* section 5 */

main section:nth-of-type(5) {
	background-color: rgba(36,94,210,1);
	padding: 0em;
	color: white;
	font-size: 1.15em;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
  	grid-template-rows: 5% 20% 20% 35% 15% 5%;
  	align-items: center;

}

main section:nth-of-type(5) h1{
	margin:1rem;
	grid-column: 2/3;
	grid-row: 2;
}

main section:nth-of-type(5) ul{
	margin:1rem;
	padding: 0px;
	grid-column: 2 / 3;
	grid-row: 3;
}

img#iphoneSE-img{
	height: auto;
	width: 250px;
	align-items: center;
	grid-column-start: 2;
	grid-row-start: 4;
	justify-self:center;
}

a#section5-link{
	text-align: center;
	text-decoration: none;
	padding: 1em;
	background-color: rgba(254,215,8,1);
	color: black;
	padding: auto;
	grid-column: 2 / 3;
	grid-row-start: 5;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(192,164,11,1);
}

@media(min-width: 980px){
	main section:nth-of-type(5)  {
		display: grid;
		grid-template-columns: 12.5% 1fr 1fr 12.5%;
  		grid-template-rows: 10% 1fr 1fr 1fr 10%;
  		font-size: 1.4em;
}
	main section:nth-of-type(5) h1{
		grid-column: 3/4;
		grid-row: 2;
}

	main section:nth-of-type(5) ul{
		grid-column-start: 3;
		grid-row: 3;
		margin: 1em;
}

	img#iphoneSE-img{
		grid-column-start: 2;
		grid-row: 2 / 5;
		width: 20em;
		margin: 0;
}

	a#section5-link{
		grid-column: 3 / 4;
		grid-row-start: 4;
		padding: 1em;
}
}

/* section 6 */

main section:nth-of-type(6) {
	background-color: rgba(254,215,8,1);
	padding: 0em;
	color: black;
	font-size: 1.15em;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
  	grid-template-rows: 5% 20% 20% 35% 15% 5%;
  	align-items: center;

}

main section:nth-of-type(6) h1{
	margin:1rem;
	grid-column: 2/3;
	grid-row: 2;
}

main section:nth-of-type(6) ul{
	margin:1rem;
	padding: 0px;
	grid-column: 2 / 3;
	grid-row: 3;
}

img#samsung-a51-img{
	height: auto;
	width: 250px;
	align-items: center;
	grid-column-start: 2;
	grid-row-start: 4;
	justify-self:center;
}

a#section6-link{
	text-align: center;
	text-decoration: none;
	padding: 1em;
	background-color: rgba(36,94,210,1);
	color: white;
	padding: auto;
	grid-column: 2 / 3;
	grid-row-start: 5;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(10,56,128,1);
}

@media(min-width: 980px){
	main section:nth-of-type(6)  {
		display: grid;
		grid-template-columns: 12.5% 1fr 1fr 12.5%;
  		grid-template-rows: 10% 1fr 1fr 1fr 10%;
  		font-size: 1.4em;
}
	main section:nth-of-type(6) h1{
		grid-column: 2/3;
		grid-row: 2;
}

	main section:nth-of-type(4) ul{
		grid-column-start: 2;
		grid-row: 3;
		margin: 1em;
}

	img#samsung-a51-img{
		grid-column-start: 3;
		grid-row: 2 / 5;
		width: 20em;
		margin: 0;
}

	a#section6-link{
		grid-column: 2 / 3;
		grid-row-start: 4;
		padding: 1em;
}
}

/* section 7 */

main section:nth-of-type(7) {
	background-color: white;
	padding: 0em;
	color: black;
	font-size: 1.15em;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
  	grid-template-rows: 5% 20% 20% 35% 15% 5%;
  	align-items: center;
}

main section:nth-of-type(7) h1{
	margin:1rem;
	grid-column: 2/3;
	grid-row: 2;
}

main section:nth-of-type(7) ul{
	margin:1rem;
	padding: 0px;
	grid-column: 2 / 3;
	grid-row: 3;
}

img#internet-vanaf20-img{
	height: auto;
	width: 250px;
	align-items: center;
	grid-column-start: 2;
	grid-row-start: 4;
	justify-self:center;
}

a#section7-link{
	text-align: center;
	text-decoration: none;
	padding: 1em;
	background-color: rgba(36,94,210,1);
	color: white;
	padding: auto;
	grid-column: 2 / 3;
	grid-row-start: 5;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(10,56,128,1);
}

@media(min-width: 980px){
	main section:nth-of-type(7)  {
		display: grid;
		grid-template-columns: 12.5% 1fr 1fr 12.5%;
  		grid-template-rows: 10% 1fr 1fr 1fr 10%;
  		font-size: 1.4em;
}
	main section:nth-of-type(7) h1{
		grid-column: 3/4;
		grid-row: 2;
}

	main section:nth-of-type(7) ul{
		grid-column-start: 3;
		grid-row: 3;
		margin: 1em;
}

	img#internet-vanaf20-img{
		grid-column-start: 2;
		grid-row: 2 / 5;
		width: 20em;
		margin: 0;
}

	a#section7-link{
		grid-column: 3 / 4;
		grid-row-start: 4;
		padding: 1em;
}
}


/* section 8 */

main section:nth-of-type(8) {
	background-color: rgba(36,94,210,1);
	padding: 0em;
	color: white;
	font-size: 1.15em;
	display: grid;
	grid-template-columns: 5% 1fr 5%;
  	grid-template-rows: 5% 20% 20% 35% 15% 5%;
  	align-items: center;
}

main section:nth-of-type(8) h1{
	margin:1rem;
	grid-column: 2/3;
	grid-row: 2;
}

main section:nth-of-type(8) p{
	margin:1rem;
	padding: 0px;
	grid-column: 2 / 3;
	grid-row: 3;
}

img#vriendenvoordeel-img{
	height: auto;
	width: 250px;
	align-items: center;
	grid-column-start: 2;
	grid-row-start: 4;
	justify-self:center;
}

a#section8-link{
	text-align: center;
	text-decoration: none;
	padding: 1em;
	background-color: rgba(254,215,8,1);
	color: black;
	padding: auto;
	grid-column: 2 / 3;
	grid-row-start: 5;
	border-radius: 5px;
	box-shadow: 0px 4px rgba(192,164,11,1);
}

@media(min-width: 980px){
	main section:nth-of-type(8)  {
		display: grid;
		grid-template-columns: 12.5% 1fr 1fr 12.5%;
  		grid-template-rows: 10% 1fr 1fr 1fr 10%;
  		font-size: 1.4em;
}
	main section:nth-of-type(8) h1{
		grid-column: 2/3;
		grid-row: 2;
}

	main section:nth-of-type(8) ul{
		grid-column-start: 2;
		grid-row: 3;
		margin: 1em;
}

	img#vriendenvoordeel-img{
		grid-column-start: 3;
		grid-row: 2 / 5;
		width: 20em;
		margin: 0;
}

	a#section8-link{
		grid-column: 2 / 3;
		grid-row-start: 4;
		padding: 1em;
}
}

/*section9*/

main section:nth-of-type(9n){
	margin:3em 0.3em 3em 0.3em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: white;
}

section:nth-of-type(9n) h2{
	display: none;
}

a.as9{
	text-decoration: none;
	color: white;
	display: block;
	padding: 1.5em;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	margin: 0.7em;
}

main section:nth-of-type(9n) a:first-of-type {
	background-color: rgba(68,158,217,1);
	box-shadow: 0px 4px rgba(54,127,174,1);
}

main section:nth-of-type(9n) a:nth-of-type(2n) {
	background-color: rgba(36,94,178,1);
	box-shadow: 0px 4px rgba(29,76,142,1);
}

main section:nth-of-type(9n) a:nth-of-type(3n) {
	background-color: rgba(194,47,123,1);
	box-shadow: 0px 4px rgba(155,38,98,1);
}

main section:nth-of-type(9n) a:nth-of-type(4n) {
	background-color: rgba(103,41,126,1);
	box-shadow: 0px 4px rgba(82,33,101,1);
}

@media(min-width: 980px){
	main section:nth-of-type(9){
	margin:4em 6em 4em 6em;
	flex-direction: row;
	justify-content: space-around;
}
	a.as9{
	flex-basis: 30em;
}
}

@media(min-width: 1200px){
	main section:nth-of-type(9){
	flex-wrap: nowrap;
}
}


/*footer*/

footer ul{
	margin: 0;
	padding: 1em;
}

footer li:before{
	content: none;
}

footer p{
	margin: 0;
	padding-bottom: 2em;
	display: flex;
	justify-content: center;
}

/*footer section1*/

footer section:first-of-type{
	background-color: rgba(21,21,21,1);
	color: white;
}

footer section:first-of-type h2{
	display: none;
}

footer section:first-of-type ul{
	padding: 1em 0em 1em 0em;
}

footer section:first-of-type ul li{
	padding: 0em 1em 0em 0.5em;
	margin-bottom: 0.7em;
}

footer section:first-of-type ul button{
	display: block;
	padding: 0.5em 0.5em 0.5em 0.4em;
	margin: 0;
	border: 0;
	color: white;
	text-decoration: none;
	background-color: rgba(21,21,21,1);
	font-size: 120%;
	outline: none;
}

footer section:first-of-type ul li ul{
	display: none;
	transition: 2s;
	background-color: rgba(21,21,21,1);
	padding: 0;
}

footer section:first-of-type ul li ul.anders{
	display: block;
}

footer section:first-of-type ul li button.anders{
	
}

footer section:first-of-type ul li ul li{
	padding: 0.5em;
	margin: 0;
	color: grey;
}

@media(min-width: 980px){
	footer section:first-of-type ul{
	display: flex;
	justify-content: space-around;
	padding: 3em 3.5em 3em 3.5em;
}
	footer section:first-of-type ul li ul{
	display: block;
}
}


/*footer section2*/

footer section:nth-of-type(2n){
	background-color: rgba(0,0,0,1);
	color: rgba(138,138,138,1);
}

footer section:nth-of-type(2n) h2{
	display: none;
}

footer section:nth-of-type(2n) ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer section:nth-of-type(2n) li{
	padding: 0.4em;
}





